body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(93, 189, 189);
    font-size: 25px;
}

header {
    height: 10vh;
    background-color: #6cb4ca;
}

.flex {
    display: flex;
}

.logo {
    height: 10vh;
}

.header-menu {
    width: 100%;
    height: 10vh;
}

.header-menu div {
    flex: auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partition {
    border-right: 2px solid #000;
}

.page-link {
    color: #000;
    position: relative;
    text-decoration: none;
}

.page-link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -3px;
    background: #000;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}

.page-link:hover::after {
    transform: scale(1,1)
}

.images {
    width: 100%;
    height: 90vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: brightness(40%);
}

.slogan {
    color: rgb(255, 255, 255);
    font-size: 200%;
    backdrop-filter: blur(15px);
}


footer {
    height: 90px;
    background-color: rgb(71, 158, 161);
}